name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Build Windows X64
      run: dotnet publish --configuration Release --self-contained -r win-x64 -p:PublishSingleFile=true -p:Version=1.0.${{ github.run_number }} -o build-win-x64 ./CrunchyDownloader/CrunchyDownloader.csproj
    - name: Build Linux X64
      run: dotnet publish --configuration Release --self-contained -r linux-x64 -p:PublishSingleFile=true -p:Version=1.0.${{ github.run_number }} -o build-linux-x64 ./CrunchyDownloader/CrunchyDownloader.csproj
    - name: Zip Windows Build
      run: |
        zip -r win-x64.zip build-win-x64
    - name: Zip Linux Build
      run: |
        zip -r linux-x64.zip build-linux-x64
    - name: Create release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: 'Build #${{ github.run_number }}'
        files: |
          win-x64.zip
          linux-x64.zip